.hero-container{
    background-color: black;
    color: white;
    height: 18vh;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 4vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

    .hero-text{
        padding-left: 20px;
        font-size: 2em;
        opacity: 50%;
    }
}