.card{
    width: 16rem;
    padding: 15px 15px;

    .card-image{
        width: 100%;
    }
    .card-body{
        padding: 0 5px;
        .details-button{
            text-decoration: none;
            border: solid 1px black;
            border-radius: 5px;
            padding: 0 5px;
            color: black;
            font-size: 1rem;
            &:hover{
                background-color: black;
                color: white;
            }
        }
        .card-title{
            font-size: 1.125rem;
        }
    }
}